<ion-content>
    <ion-grid>
        <ion-row class="">
            <ion-col class="top-20">
                <ion-img src="assets/img/lock.png"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="top-5">
                <h3>Bienvenido</h3>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="top-5">
                <ion-button color="google" expand="block">Google
                    <ion-icon slot="start" name="logo-google"></ion-icon>
                </ion-button>
                <ion-button color="facebook" expand="block" class="ion-margin-top">Facebook
                    <ion-icon slot="start" name="logo-facebook"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>